*, html {
    scroll-behavior: smooth !important;
}

.v-layout {
    background-color: rgb(var(--v-theme-surface)) !important;
}

body #app .v-layout{
    //Global styles
    *,*:after {
        font-family: 'Poppins', sans-serif;
    }
    h1, h2, h3, h4, h5 {
        font-family: 'Asap', sans-serif;
    }

    //Global utilities
    .text-white {
        color: #FFF!important;
    }

    .white-space {
        white-space: pre-line;
    }

    .position-relative {
        position: relative;
    }

    .color-vuetify-background {
        color: rgb(var(--v-theme-background));
    }
    
    .sections {
        padding: 20px 20px;
        @media #{map-get($display-breakpoints, 'md-and-up')} {
            padding: 80px 0px;
        }
    }

    .w-100 {
        width: 100%;
    }

    .opacity-1 {
        opacity: 1!important;
    }

    .v-main .v-row {
        margin:0;
    }

    //Fix things in vuetify
    @media #{map-get($display-breakpoints, 'md-and-up')} {
        .v-container:not(.v-container--fluid) {
            max-width: 1000px;
        }

    }

    @media #{map-get($display-breakpoints, 'lg-and-up')} {
        .v-container:not(.v-container--fluid) {
            max-width: 1200px;
        }
    }

    // @media (min-width: 1920px) {
    //     .v-container:not(.v-container--fluid) {
    //       max-width: 1200px;
    //     }
    //   }
    
    .v-chip__content {
        color: rgb(var(--v-theme-shades-white));
    }
    .v-container--fluid {
        &.lighter {
    
            background-color: rgb(var(--v-theme-grey-darken-2));
    
            .v-card {
                background-color: rgb(var(--v-theme-grey-darken-2));
            }
        }
    }

    .font-weight-semibold600 {
        font-weight: 600!important;
    }
}

//Animations
@keyframes fade-top-movement {
    0% {
        opacity: 0;
        transform: translate3d(0, 5%, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes height-increasement {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@keyframes scale-hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15);
    }
}